html {
    scroll-behavior: smooth;
}
.Chair {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 6px;
    transition: all .3s linear;

    &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }

    &.booking {
        background-color: brown;
        color: white;
        border: transparent;
    }
    &.booked {
        pointer-events: none;
        background-color: #eee;
        color: yellowgreen;
        border: transparent;
    }
    &.disabled {
        border: transparent;
        pointer-events: none;
    }
}